# Excel Tidy Data Instructions

Before using Excel to manipulate data, install Tableau add-in tools. Follow the instruction in the link. http://kb.tableau.com/articles/knowledgebase/addin-reshaping-data-excel?lang=en-us 

* Note: Tableau extension is not available for Excel on Mac

## Clean and reshape dataset
* Open the file hitters_hw_prep.csv in Excel.

![alt text](images/select_data.JPG)

https://github.com/TravisRPetersen/sports-analytics-spring18/blob/master/lesson_03/images/andrus.JPG?raw=true

* Select all the values for the in the table ignoring the player names in column A, and the column headers in row 1 ($B$2:$AK$8).  Click the Reshape data button on the top left of the Tableau ribbon. Then click Ok in the Reshape Data box. Wait a few seconds for excel to generate new sheet of dataset.

![alt text](images/reshape_data.JPG)

* There should now be a new sheet named “hitters_hw_prep-Tableau” with the data “melted”

![alt text](images/long_data.JPG)

* Next, use Excel formulas to split Col2 into the variable and the year.  In the current state our tables violates the “Each variable forms a column” rule of tidy data.  Create a new column between Col2 and Col3 by right clicking the header of Column D and pressing insert. 

![alt text](images/insert_new_column.JPG)

* Now we need to split the values in “Col2” (Column B). Select all values in Column B, and press “Text to Columns” in the Data Ribbon.  Ensure that “Delimited” is selected and press next in the Text to Columns wizard.  

![alt text](images/text_to_columns1.JPG)

* Select “Other” in the delimiters section, and enter an underscore (_) in the box to the right.   Press next. 

![alt text](images/text_to_columns2.JPG)

* Change the header of column B to “variable”.  Change the header of C column to “year”.  Change the header of column D to “value”.

![alt text](images/rename_columns.JPG)

* Select all data in the table.  (Shortcut: Select A1, hold SHIFT+ENTER, Press RIGHT ARROW and then DOWN arrow all while holding SHIFT+ENTER). Create pivot table by selecting the Insert ribbon and selecting PivotTable.

![alt text](images/select_pivot.JPG)

* Place the PivotTable in a New Worksheet.  

![alt text](images/new_worksheet.JPG)

* Include the variable as a column, sum of value column as the value, and nameFull and year as the rows. (See below).  

![alt text](images/create_pivot.JPG)

* In the same panel, right-click nameFull, then Field Settings, check repeat item labels and show in Tabular Form. 

![alt text](images/field_settings.JPG)

* On the Subtotals & Filters tab of the Field Settings ensure that none is checked.

![alt text](images/field_settings_subtotal.JPG)

* Select the data highlighted in the image below and copy to another sheet. Let’s name the sheet table1.    

![alt text](images/select_copy.JPG)

* Rename “Row Label” to “nameFull”.  Format the data as a Table by highlighting the range and choosing Format as Table.  Ensure that “My table has headers” is checked.

![alt text](images/format_as_table.JPG)

## Check Data Integrity
* Create another pivot table based on table1. Follow the configuration below to calculate the count of nameFull.

![alt text](images/andrus.JPG)

* Using this table we can see that we have a name misspelled. Correct Elvus Andris to Elvis Andrus in table 1.

* Check to see anything wrong with years, create a pivot to count rows for each year. This looks ok.

![alt text](images/count_of_year.JPG)

* Sort by 2B ascending and descending.  We can notice that Kyle Seager is missing data for 2B for 2015.  We can look up his stats on MLB.com (http://m.mlb.com/player/572122/kyle-seager).  He hit 37 doubles in 2015.

* Sort by 3B ascending and descending.  Everything looks fine.

* Sort by AB ascending and descending.  We notice that Jose Altuve has -660 AB in 2014 which is impossible as AB is a counting statistic.  Jose Altuve had 660 AB in 2014 (http://m.mlb.com/player/514888/jose-altuve).

* Sort by BB ascending and descending.  Everything looks fine.

* Sort by H ascending and descending.  Everything looks fine.

* Sort by HBP ascending and descending.  Everything looks fine.

* Sort by HR ascending and descending.  We notice that Robinson Cano had 330 HR in 2012.  It seems unlikely that he would have that many in one year. Robinson Cano had 33 HR in 2012 (http://m.mlb.com/player/429664/robinson-cano).

* Sort by SF ascending and descending.  Everything looks fine.

* Sort by SH ascending and descending.  Everything looks fine.

## Calculate OPS

* Insert table column to the right of SH named PA for Plate Appearances
    * $PA = AB + BB + HBP + SF$
    
![alt text](images/create_pa.JPG)

* Insert table column to the right of PA named OBP for On-Base Percentage
    * $OBP = (H + BB + HBP) / PA$
    
![alt text](images/create_obp.JPG)

* Insert table column to the right of OBP named SLG for Slugging Percentage
Create 

    * $SLG = ((H-(2B+3B+HR)) + (2 * 2B) + (3 * 3B) + (4 * HR)) / AB$
    
![alt text](images/create_slg.JPG)

* Insert table column to the right of SLG named OPS for On-Base plus Slugging
    * $OPS = OBP + SLG$
    
 ![alt text](images/create_ops.JPG)


* Sort the values from largest to smallest to get the top 5 seasons by OPS of these players from 2012-2015

 ![alt text](images/top_ops.JPG)